{% load fn_category %}

{% if fn_category %}
  <ul>
    {% for category in fn_category %}
      <li
        {% if fn_category_selected|contains:category %}
          class='selected'
        {% endif %}
      >
        <a
          {% if fn_category_view %}
            href='{{fn_category_view|link:category.id}}'
          {% endif %}
        >{{category}}</a>

        {% comment %}
          Hack for recursion:
          http://blog.elsdoerfer.name/2008/01/22/recursion-in-django-templates/
        {% endcomment %}
        {% with "fn_category/_categories.html" as filename %}
          {% with category.children as fn_category %}
            {% include filename %}
          {% endwith %}
        {% endwith %}
      </li>
    {% endfor %}
  </ul>
{% endif %}
