{% extends 'base.html' %}


{% block title %}{{blog.name}}{% endblock %}
{% block content_title %}{{blog.name}}{% endblock %}

{% block content %}
  {% if entries %}
    <ul>
      {% for entry in entries %}
        <li class='entry'>
          <span class='date'>{{entry.created}}</span>
          <a href='{% url fn_blog.views.entry entry.id %}'>{{entry.title}}</a>
          <span class='categories'>
            {% for category in entry.categories %}
              <a href='{% url fn_blog.views.blog_category%}'>{{category}}</a>
            {% endfor %}
          </span>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No entries found</p>
  {% endif %}
{% endblock %}
