{% extends 'base.html' %}
{% load fn_markup %}


{% block title %}{{blog.name}}{% endblock %}
{% block content_title %}{{entry.title}}{% endblock %}


{% block content %}
  <a href='{{entry.blog.get_absolute_url}}'>Back</a>
  <div>
    {{entry.body|fn_markup}}
  </div>

  {% if form %}
    <form action='{{blog.get_absolute_uri}}' method='POST'>
      <input type='hidden' name='__method__' value='PUT'/>
      {{form.as_p}}
      <input type='submit' value='Submit' />
    </form>
  {% endif %}
{% endblock %}
